.jumbotron
  %h1 RADD
  %p.lead A basic example of how to use Rails, Devise and Angular.js in conjunction.
  %a.btn.btn-large.btn-success{:href => "/#/record"} Login
%hr/
.footer
  %p &copy; Your Company, LLC 2013
