.readings-container
  .row
    .col-md-12
      %h3 Readings
      %table.table
        %thead
          %tr
            %th
              date
            %th
              brix
            %th
              ph
            %th
              temp
            %th

        %tbody
          %tr{"ng-repeat" => "reading in selected_batch.batch_readings", 'data-reading-id' => '{{reading.id}}'}
            %td
              .show-reading
                {{reading.reading_date}}
              .edit-reading{:style => 'display:none;'}
                %input.form-control.edit_reading{:placeholder => "reading_date", "ng-model"=>"reading.reading_date"}
            %td
              .show-reading
                {{reading.brix}}
              .edit-reading{:style => 'display:none;'}
                %input.form-control.edit_reading{:placeholder => "brix", "ng-model"=>"reading.brix"}
            %td
              .show-reading
                {{reading.ph}}
              .edit-reading{:style => 'display:none;'}
                %input.form-control.edit_reading{:placeholder => "ph", "ng-model"=>"reading.ph"}
            %td
              .show-reading
                {{reading.temp}}
              .edit-reading{:style => 'display:none;'}
                %input.form-control.edit_reading{:placeholder => "temp", "ng-model"=>"reading.temp"}
            %td
              .show-reading
                %a.toggle-edit
                  %span{:style=>"font-size:18px;", :class=>"glyphicon glyphicon-pencil"}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                %a{'confirmed-click'=>'removeReading(reading.id)', "ng-confirm-click"=>"Are you sure you want to delete?"}
                  %span{:style=>"font-size:18px;", :class=>"glyphicon glyphicon-remove-circle"}
              .edit-reading{:style => 'display:none;'}
                %a.toggle-edit{'ng-click'=>'editReading(reading)'}
                  %span{:style=>"font-size:18px;", :class=>"glyphicon glyphicon-ok-circle"}

          %tr
            %form{:role => "form"}
              %td
              %td
                %input#brix.form-control.new_reading{:placeholder => "brix", "ng-model"=>"reading.brix"}
              %td
                %input#ph.form-control.new_reading{:placeholder => "ph", "ng-model"=>"reading.ph"}
              %td
                %input#temp.form-control.new_reading{:placeholder => "temp", "ng-model"=>"reading.temp"}
              %td
                %button{:type=>"submit", :class=>"btn btn-primary", "ng-click"=>"newReading(reading)"}
                  %span{:class=>"glyphicon glyphicon-plus"}