.batches_container.ui-sortable{"ng-model"=>"batches"}
  .batch_container.well.pull-left{"ng-repeat" => "batch in batches | orderBy:fermenterOrder", :id => "{{batch.fermenter.id}}"}
    .full_batch{'ng-if'=>'isFull(batch.fermenter)'}
      .batch_header.row
        .col-md-4
          %span
            %b
              &#35;{{batch.fermenter.id}}:{{batch.fermenter.position}}
        .col-md-8
          %button.btn.btn-xs.btn-primary.details{'ng-click' => 'toggleModal(batch);'}
            %span
              details
      .flavor_container.row{style: 'background-color:{{batch.flavor.color.primary}};border:2px solid {{batch.flavor.color.secondary}}; '}
        .col-md-6
          %h2
            {{batch.flavor.abv}}
        .col-md-6
          %span.days
            %b
              {{batch.days_ago}}
          %span
            %b
              days
      .row.last-reading
        .col-md-12
          %span
            br:
            %b {{batch.last_brix}}
            , ph:
            %b {{batch.last_ph}}

    .other_batch{'ng-if'=>'!isFull(batch.fermenter)'}
      .batch_header.row
        .col-md-4
          %span
            %b
              &#35;{{batch.fermenter.id}}
        .col-md-8
          .btn-group
            %button.btn.btn-xs.btn-default.dropdown-toggle.actions{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", style: 'border:1px solid {{batch.flavor.color.secondary}};'}
              %span
                actions
            %ul.dropdown-menu{:role => "menu"}
              %li.text-center.toggle-brew-view{style: 'background-color:#9CC5E7'}
                %a Brew
              %li.text-center{'ng-if'=>'!isClean(batch.fermenter)', style: 'background-color:#8AD38A;', 'ng-click'=>'changeFermenterState(batch, "clean")'}
                %a{:href => "#"} Clean
              %li.text-center{'ng-if'=>'isClean(batch.fermenter)', style: 'background-color:#DE5753;', 'ng-click'=>'changeFermenterState(batch, "dirty")'}
                %a{:href => "#"} Dirty


      .row{style: 'border:2px solid {{batch.flavor.color.secondary}}; margin-top:15px;'}
        .other_status
          .text-center
            %h2{style: 'color:{{batch.flavor.color.primary}};'}
              {{batch.fermenter.state}}

    .brew_batch{'ng-if'=>'!isFull(batch.fermenter)', style:'display:none;'}
      %ul.list-unstyled
        %li.text-center{'ng-repeat'=>'flavor in flavors', style:'background-color: {{flavor.color.primary}};', 'ng-click'=>'addBatch(flavor, batch)'}
          %span
            {{flavor.abv}}
      %span.glyphicon.glyphicon-remove-circle.toggle-brew-view{style:'position:relative; top:-186px; left:141px; color:white; font-size:23px'}
