.settings-container{'ng-controller' => "CarbonationSettingsCtrl"}
  .fade-in
    %br
    .row
      .col-md-12
        %table.table.settings-table
          %tbody
            %tr.toggle-container{'ng-repeat' => 'carb_setting in selected_batch.carbonation_settings'}
              %td.text-right
                %h3{style: 'padding-right:3px;'}
                  {{carb_setting.kind.desc}}:
              %td.text-right.quantity
                .show-toggle
                  %h3.show-quantity
                    {{carb_setting.quantity}}
                .edit-toggle{style: 'display:none;'}
                  %input.form-control.text-right{type: 'number', placeholder: '0', 'ng-model'=>'carb_setting.quantity'}
              %td.text-left
                %h3
                  {{carb_setting.kind.unit}}
              %td
                .show-toggle{'ng-if' => 'canCan("manage", "Batch")'}
                  %a{href: '#', 'ng-click'=>'increaseQty(carb_setting)'}
                    %span.glyphicon.glyphicon-chevron-up
                  %a.toggle-edit
                    %button.btn.btn-primary.btn-sm{type: 'button'} edit
                  %a{href: '#', 'ng-click'=>'decreaseQty(carb_setting)'}
                    %span.glyphicon.glyphicon-chevron-down
                .edit-toggle{style: 'display:none;'}
                  %a.toggle-edit{'ng-click'=>'editQty(carb_setting)'}
                    %span.glyphicon.glyphicon-ok-circle

    .processes{'ng-controller' => "ProcessesCtrl", 'ng-init'=>'process_type="carbonation"'}
      .row
        %br
        .col-md-12
          .carbonation-actions{'ng-if'=>'canCan("manage", "BatchProcess")'}
            %ul.list-unstyled
              %li.pull-right{"ng-repeat" => "process in selected_batch.all_carbonation_processes | orderBy:order"}
                %form{:role => "form"}
                  %button{:type=>"submit", :class=>"btn btn-success", "ng-click"=>"startProcess(process)", 'ng-show'=>'!process.currently_on'} start {{process.name}}
                  %button{:type=>"submit", :class=>"btn btn-danger", "ng-click"=>"stopProcess(process.name)", 'ng-show'=>'process.currently_on'} stop {{process.name}}
            .clearfix
        %br
      .row
        .col-md-1
        .col-md-10
          %table.table.table-condensed{"ng-show"=>"selected_batch.carbonation_processes.length"}
            %thead
              %tr
                %th
                  started
                %th
                  stopped
                %th
                  duration
                %th
            %tbody
              %tr.toggle-container.text-center{"ng-repeat" => "process in selected_batch.carbonation_processes"}
                %td
                  .show-toggle.process-times
                    {{process.started}}
                  .edit-toggle{:style => 'display:none;'}
                    %input.form-control.edit_process{:placeholder => "started", "ng-model"=>"process.started"}
                %td
                  .show-toggle.process-times
                    {{process.stopped || process.type + " is on..."}}
                  .edit-toggle{:style => 'display:none;'}
                    %input.form-control.edit_process{:placeholder => "stopped", "ng-model"=>"process.stopped", 'ng-if'=>'process.stopped'}
                %td
                  .process-duration
                    {{process.duration}}
                %td
                  .show-toggle.process-small
                    %a.toggle-edit
                      %span{:style=>"font-size:18px;", :class=>"glyphicon glyphicon-pencil"}
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    %a{'confirmed-click'=>'removeProcess(process)', "ng-confirm-click"=>"Are you sure you want to delete?"}
                      %span{:style=>"font-size:18px;", :class=>"glyphicon glyphicon-remove-circle"}
                  .edit-toggle.process-small{:style => 'display:none;'}
                    %a.toggle-edit{'ng-click'=>'editProcess(process)'}
                      %span{:style=>"font-size:18px;", :class=>"glyphicon glyphicon-ok-circle"}
