.inventories-container{'ng-controller' => 'InventoriesCtrl'}
  %br
  .row
    .col-md-12
      %table.table.inventory-table.fade-in
        %tbody
          %tr{'ng-repeat' => 'inventory in selected_batch.inventories'}
            %td
              .inventory-img-container
                %img{'src'=>'{{inventory.package_img}}'}
            %td.text-left
              .show-toggle
                %h1
                  {{inventory.quantity}} {{inventory.package_name}}
              .edit-toggle{style: 'display:none;'}
                %input.form-control.edit_package{type: 'number', placeholder: 'quantity', 'ng-model'=>'inventory.quantity'}
            %td
              .show-toggle{'ng-if' => 'canCan("manage", "Batchpackage")'}
                %a{href: '#', 'ng-click'=>'increaseQty(inventory)'}
                  %span.glyphicon.glyphicon-chevron-up
                %a.toggle-edit
                  %button.btn.btn-primary.btn-sm{type: 'button'} edit
                %a{href: '#', 'ng-click'=>'decreaseQty(inventory)'}
                  %span.glyphicon.glyphicon-chevron-down


              .edit-toggle{style: 'display:none;'}
                %a.toggle-edit{'ng-click'=>'editQty(inventory)'}
                  %span.glyphicon.glyphicon-ok-circle