#navbar{'ng-include'=>"'navbar/show.html'"}
%alerts
%div{'ng-if'=>"canCan('read', 'Batch')"}
  %br
  .row
    .col-md-12{:style=>'text-align: center;'}
      %h1{style: 'color:white; font-size:48px'} Brewing
  %br
  .row
    .col-md-1
    .col-md-10
      .batches_container.ui-sortable{"ng-model"=>"batches"}
        .batch_container.well.pull-left{"ng-repeat" => "batch in batches | orderBy:fermenterOrder", :id => "{{batch.fermenter.id}}"}
          .batch{'ng-include'=>"'batches/_batch.html'"}
  .bottling{'ng-if'=>"bottling_batches.length"}
    .row
      .col-md-12{:style=>'text-align: center;'}
        %h1{style: 'color:white; font-size:48px'} Bottling
    .row
      .col-md-1
      .col-md-10
        .batches_container
          .batch_container.well.pull-left{"ng-repeat" => "batch in bottling_batches | orderBy:fermenterOrder", :id => "{{batch.fermenter.id}}"}
            .batch{'ng-include'=>"'batches/_bottling_batch.html'"}
  %br


  %modal{:title=>'{{selected_batch.flavor.name}}', :visible=>"$parent.showModal"}
    .modal-header
      %button.close{"aria-hidden"=>"true", "data-dismiss"=>"modal", :type=>"button", 'ng-click'=>'hideModal()'} ×
      %h2.modal-title{style: 'display:inline; color:{{selected_batch.flavor.color.secondary}}; '}
        {{selected_batch.flavor.name}}
      %span
        %b
          brewed: {{selected_batch.brew_date}}
    .modal-body

      %ul.nav.nav-tabs
        %li{:role=>"batch_details", 'ng-click'=>'detailsNav("overview")', 'ng-class'=>'{active: details_category=="overview"}'}
          %a{:href=>"#"} Overview
        %li{:role=>"batch_details", 'ng-click'=>'detailsNav("readings")', 'ng-class'=>'{active: details_category=="readings"}'}
          %a{:href=>"#"} Readings
        %li{:role=>"batch_details", 'ng-click'=>'detailsNav("fermentation")', 'ng-class'=>'{active: details_category=="fermentation"}'}
          %a{:href=>"#"} Processes
        %li{:role=>"batch_details", 'ng-click'=>'detailsNav("carb_settings")', 'ng-class'=>'{active: details_category=="carb_settings"}'}
          %a{:href=>"#"} CO2
        %li{:role=>"batch_details", 'ng-click'=>'detailsNav("bottle_settings")', 'ng-class'=>'{active: details_category=="bottle_settings"}'}
          %a{:href=>"#"} Bottling
        %li{:role=>"batch_details", 'ng-click'=>'detailsNav("inventory")', 'ng-class'=>'{active: details_category=="inventory"}'}
          %a{:href=>"#"} Inventory
        %li{:role=>"batch_details", 'ng-click'=>'detailsNav("comments")', 'ng-class'=>'{active: details_category=="comments"}'}
          %a{:href=>"#"} Comments


      .batch-details{'ng-show'=>'details_category == "overview"'}
        #overview{'ng-include'=>"'batches/_overview.html'"}
      .batch-details{'ng-show'=>'details_category == "fermentation"'}
        #fermentation{'ng-include'=>"'batches/_fermentation.html'"}
      .batch-details{'ng-show'=>'details_category == "readings"'}
        #readings{'ng-include'=>"'batches/_readings.html'"}
      .batch-details{'ng-show'=>'details_category == "carb_settings"'}
        #settings{'ng-include'=>"'batches/_carbonation_settings.html'"}
      .batch-details{'ng-show'=>'details_category == "bottle_settings"'}
        #settings{'ng-include'=>"'batches/_bottle_settings.html'"}
      .batch-details{'ng-show'=>'details_category == "inventory"'}
        #inventory{'ng-include'=>"'batches/_inventories.html'"}
      .batch-details{'ng-show'=>'details_category == "comments"'}
        #comments{'ng-include'=>"'batches/_comments.html'"}


