%div{'ng-show' => "canCan('manage', 'Batch')"}
  #navbar{'ng-include' => "'navbar/show.html'"}
  %br
  .row
    .col-md-12{:style => 'text-align: center;'}
      %h1{style: 'color:white; font-size:48px'} Batches
  %br
  .row
    .col-md-1
    .col-md-10
      #batches{'ng-include' => "'partials/batches.html'"}

  %modal{:title => '{{selected_batch.flavor.name}}', :visible => "showModal"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h2.modal-title{style: 'display:inline;'}
        {{selected_batch.flavor.name}}
      %span
        %b
          brewed: {{selected_batch.brew_date}}
    .modal-body
      #readings{'ng-include' => "'partials/readings.html'"}
      #comments{'ng-include' => "'partials/comments.html'"}


