.row
  .col-md-1
  .well.col-md-10
    #overview{'ng-include'=>"'batches/_overview.html'"}
.row
  .col-md-1
  .well.col-md-10
    #fermentation{'ng-include'=>"'batches/_fermentation.html'"}
.row
  .col-md-1
  .well.col-md-10
    #readings{'ng-include'=>"'batches/_readings.html'"}
.row
  .col-md-1
  .well.col-md-10
    #settings{'ng-include'=>"'batches/_carbonation_settings.html'"}
.row
  .col-md-1
  .well.col-md-10
    #settings{'ng-include'=>"'batches/_bottle_settings.html'"}
.row
  .col-md-1
  .well.col-md-10
    #inventory{'ng-include'=>"'batches/_inventories.html'"}
.row
  .col-md-1
  .well.col-md-10
    #comments{'ng-include'=>"'batches/_comments.html'"}
